7/Lab7/Lab7 (Client)/Server/WSDL.wsdl

<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://KAA/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://KAA/">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Simplex - веб-служба</wsdl:documentation>
<wsdl:types>
<s:schema elementFormDefault="qualified" targetNamespace="http://KAA/">
<s:element name="AddMessage">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="x" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="y" type="s:int"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="AddMessageResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="AddMessageResult" type="s:int"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="ConcatMessage">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="s" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="d" type="s:double"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="ConcatMessageResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="ConcatMessageResult" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="SumMessage">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="a1" type="tns:A"/>
<s:element minOccurs="0" maxOccurs="1" name="a2" type="tns:A"/>
</s:sequence>
</s:complexType>
</s:element>
<s:complexType name="A">
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="s" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="k" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="f" type="s:float"/>
</s:sequence>
</s:complexType>
<s:element name="SumMessageResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="SumMessageResult" type="tns:A"/>
</s:sequence>
</s:complexType>
</s:element>
</s:schema>
</wsdl:types>
<wsdl:message name="AddMessageSoapIn">
<wsdl:part name="parameters" element="tns:AddMessage"/>
</wsdl:message>
<wsdl:message name="AddMessageSoapOut">
<wsdl:part name="parameters" element="tns:AddMessageResponse"/>
</wsdl:message>
<wsdl:message name="ConcatMessageSoapIn">
<wsdl:part name="parameters" element="tns:ConcatMessage"/>
</wsdl:message>
<wsdl:message name="ConcatMessageSoapOut">
<wsdl:part name="parameters" element="tns:ConcatMessageResponse"/>
</wsdl:message>
<wsdl:message name="SumMessageSoapIn">
<wsdl:part name="parameters" element="tns:SumMessage"/>
</wsdl:message>
<wsdl:message name="SumMessageSoapOut">
<wsdl:part name="parameters" element="tns:SumMessageResponse"/>
</wsdl:message>
<wsdl:portType name="SimplexSoap">
<wsdl:operation name="Add">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Сложение чисел x+y</wsdl:documentation>
<wsdl:input name="AddMessage" message="tns:AddMessageSoapIn"/>
<wsdl:output name="AddMessage" message="tns:AddMessageSoapOut"/>
</wsdl:operation>
<wsdl:operation name="Concat">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Конкатенация строки s и числа d</wsdl:documentation>
<wsdl:input name="ConcatMessage" message="tns:ConcatMessageSoapIn"/>
<wsdl:output name="ConcatMessage" message="tns:ConcatMessageSoapOut"/>
</wsdl:operation>
<wsdl:operation name="Sum">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Возвращает объект А</wsdl:documentation>
<wsdl:input name="SumMessage" message="tns:SumMessageSoapIn"/>
<wsdl:output name="SumMessage" message="tns:SumMessageSoapOut"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="SimplexSoap" type="tns:SimplexSoap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="Add">
<soap:operation soapAction="http://KAA/AddMessage" style="document"/>
<wsdl:input name="AddMessage">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="AddMessage">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="Concat">
<soap:operation soapAction="http://KAA/ConcatMessage" style="document"/>
<wsdl:input name="ConcatMessage">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="ConcatMessage">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="Sum">
<soap:operation soapAction="http://KAA/SumMessage" style="document"/>
<wsdl:input name="SumMessage">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="SumMessage">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="SimplexSoap12" type="tns:SimplexSoap">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="Add">
<soap12:operation soapAction="http://KAA/AddMessage" style="document"/>
<wsdl:input name="AddMessage">
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output name="AddMessage">
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="Concat">
<soap12:operation soapAction="http://KAA/ConcatMessage" style="document"/>
<wsdl:input name="ConcatMessage">
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output name="ConcatMessage">
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="Sum">
<soap12:operation soapAction="http://KAA/SumMessage" style="document"/>
<wsdl:input name="SumMessage">
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output name="SumMessage">
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="Simplex">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Simplex - веб-служба</wsdl:documentation>
<wsdl:port name="SimplexSoap" binding="tns:SimplexSoap">
<soap:address location="http://localhost:64906/Simplex.asmx"/>
</wsdl:port>
<wsdl:port name="SimplexSoap12" binding="tns:SimplexSoap12">
<soap12:address location="http://localhost:64906/Simplex.asmx"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>